<div class="row gap-5 mt-4">
    <!-- First Post -->
    <div class="card col-md-8" *ngIf="firstPost">
      <img src="https://via.placeholder.com/300x200" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{ firstPost.title }}</h5>
        <p class="card-text">{{ firstPost.body }}</p>
        <button class="btn btn-primary" (click)="viewPost(firstPost.id)">Read More</button>
      </div>
    </div>
  
    <!-- Second Post -->
    <div class="card col-md-3" *ngIf="secondPost">
    <img src="https://via.placeholder.com/300x200" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{ secondPost.title }}</h5>
        <p class="card-text">{{ secondPost.body }}</p>
        <button class="btn btn-primary" (click)="viewPost(secondPost.id)">Read More</button>
      </div>
    </div>
  </div>
  
  <!-- Remaining Posts -->
  <div class="container">
    <div class="row mt-4 gap-4 justify-content-center">
      <div class="card col-md-3 col-sm-6 mb-4" *ngFor="let post of remainingPosts">
        <div class="card-body">
          <h5 class="card-title">{{ post.title }}</h5>
          <p class="card-text">{{ post.body }}</p>
          <button class="btn btn-primary" (click)="viewPost(post.id)">Read More</button>
        </div>
      </div>
    </div>
  </div>
   
  
<div class="paginator-wrapper">
    <mat-paginator [length]="totalPosts"
                   [pageSize]="postsPerPage"
                   [pageSizeOptions]="[5, 10, 25, 100]"
                   (page)="onPageChange($event)"
                   aria-label="Select page">
    </mat-paginator>
</div>

<div *ngIf="selectedPost" class="selected-post">
  <h2>{{ selectedPost.title }}</h2>
  <p>{{ selectedPost.body }}</p>
  <button (click)="selectedPost = null" class="btn btn-secondary">Close</button>
</div>
  
  