<div class="row gap-5 mt-4">
    <!-- First Post -->
    <div class="card col-md-8" *ngIf="firstPost">
      <img src="https://via.placeholder.com/300x200" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{ firstPost.title }}</h5>
        <p class="card-text">{{ firstPost.body }}</p>
        <a href="#" class="btn btn-primary">Read More </a>
      </div>
    </div>
  
    <!-- Second Post -->
    <div class="card col-md-3" *ngIf="secondPost">
    <img src="https://via.placeholder.com/300x200" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{ secondPost.title }}</h5>
        <p class="card-text">{{ secondPost.body }}</p>
        <a href="#" class="btn btn-primary">Read More </a>
      </div>
    </div>
  </div>
  
  <!-- Remaining Posts -->
  <div class="container">
    <div class="row mt-4 gap-2 justify-content-center">
      <div class="card col-md-3 col-sm-6 mb-4" *ngFor="let post of remainingPosts">
        <div class="card-body">
          <h5 class="card-title">{{ post.title }}</h5>
          <p class="card-text">{{ post.body }}</p>
          <a href="#" class="btn btn-primary">Read More</a>
        </div>
      </div>
    </div>
  </div>
   
  
  <!-- Pagination -->
  <nav aria-label="Page navigation" class="pagination-fixed">
    <ul class="pagination">
      <li class="page-item" [ngClass]="{'disabled': currentPage === 1}">
        <a class="page-link " (click)="onPageChange(currentPage - 1)">Previous</a>
      </li>
      <li class="page-item" [ngClass]="{'disabled': remainingPosts.length === 0}">
        <a class="page-link " (click)="onPageChange(currentPage + 1)">Next</a>
      </li>
    </ul>
  </nav>
  
  