<div class="container mb-2 mt-2">
    <h2 class="modal-title">
        {{ data.action === 'add' ? 'Add Post' : data.action === 'update' ? 'Update Post' : 'Patch Post' }}
      </h2>
      
      <div class="modal-body">
        <form class="post-form">
          <div class="mb-3">
            <label for="postTitle" class="form-label">Title</label>
            <input type="text" class="form-control" id="postTitle" [(ngModel)]="post.title" name="title" placeholder="Enter title" required>
          </div>
      
          <div class="mb-3">
            <label for="postBody" class="form-label">Body</label>
            <textarea class="form-control" id="postBody" rows="5" [(ngModel)]="post.body" name="body" placeholder="Enter body" required></textarea>
          </div>
        </form>
      </div>
      
      <div class="modal-footer">
        <button type="button" class="btn btn-danger me-2" (click)="onCancel()">Cancel</button>
      
        <button *ngIf="data.action === 'add'" type="button" class="btn btn-primary" (click)="onSave()">Add Post</button>
      
        <button *ngIf="data.action === 'update'" type="button" class="btn btn-primary" (click)="updatePost()">Update Post</button>
      
        <button *ngIf="data.action === 'patch'" type="button" class="btn btn-warning" (click)="patchPost()">Patch Post</button>
      </div>    
</div>