.post-form .form-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
  }
  
  .full-width {
    width: 100%;
  }
  
  mat-dialog-actions {
    display: flex;
    justify-content: flex-end;
  }
  
  button[mat-button] {
    margin-left: 10px;
  }
  