<nav class="navbar bg-body-tertiary pt-4 sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand">BlogHouse</a>
        <form class="d-flex" role="search">
            <a routerLink="/" class="btn btn-secondary me-2">Home</a>
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
    </div>
</nav>

<div class="text-center mt-4 mb-4">
    <h2>Welcome to our Blog!</h2>
    <p>The home of endless stories</p>
</div>